body {
    background: rgb(249, 249, 252);
    margin: 0;
}
h1{
    text-align: center;
}
#Introduccion{
    text-align: justify;
}
#Fotopersonal{
    float: left;
    margin-left: 0px 0px 0px 30px;
    width: 150px;
    height: 38px;
}